@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .element {
    @apply bg-gradient-to-br font-semibold md:text-lg tracking-wide hover:shadow from-secondary dark:from-dark-secondary dark:to-dark to-light hover:from-primary hover:dark:from-primary hover:to-primary-darker hover:dark:to-primary-darker hover:dark:text-black transition-colors dark:text-dark-text text-text;
  }
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #9c9c9c;
}

::-webkit-scrollbar-track {
  background: transparent;
}

